.main {
  height: 100vh;
  width: 100vw;
  border: 0px solid red;
  background: url("../../../assets/images/bg.gif") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.h4 {
  margin-bottom: -50px;
  color: aliceblue;
}
.h3 {
  color: aliceblue;
}

img {
  height: 300px;
}

.h6 {
  color: rgb(145, 194, 236);
  display: block;
  margin: 10px 0;
  font-size: 20px;
  font-weight: bold;
}

.scrollable-content {
  max-height: 300px; /* Set your desired maximum height here */
  overflow-y: auto;
}

.true-choice {
  border: 3px solid green;
}
.false-choice {
  border: 3px solid red;
}
